* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --1rang: #00ffa3;
    --2rang: #0a192f;
    --matn: #ecf0f1;
}

.navbar {
    width: 100%;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--2rang);
    border-bottom: 2px solid var(--1rang);
}

.nav-logo {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    padding: 15px 15px;
}

.img a {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

.bar {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 40px;
}

.list .nav-list2 {
    color: var(--matn);
    text-decoration: none;
    transition: 0.3s ease;
}

.about {
    width: 100%;
    height: 700px;
    margin-top: 100px;
    text-align: center;
    background-image: url("https://picsum.photos/1200/600?keyword=mountains,dark,nature");
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.title {
    color: var(--1rang);
    font-family: serif;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 100px;
}

.text {
    color: var(--matn);
    font-family: serif;
    font-size: 14px;
}

.about-mal {
    width: 600px;
    height: 200px;
    overflow: auto;
    margin: auto;
    border: 2px solid var(--1rang);
    background-color: var(--2rang);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--2rang);
}

.logo4 {
    width: 40px;
    height: 40px;
    background-color: var(--2rang);
    border: 2px solid var(--1rang);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 15px;
}

.logo4:hover {
    transform: scale(1.3);
}

.btn-d {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--matn);
}

.btn {
    padding: 10px;
    background-color: var(--2rang);
    border: 2px solid var(--1rang);
    color: var(--matn);
    margin: 15px;
    border-radius: 15px;
}

.btn:hover {
    background-color: var(--1rang);
    border: 2px solid var(--2rang);
    color: #fff;
    cursor: pointer;
    transform: scale(1.2);
}
.bb{
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--2rang);
    border: 2px solid var(--1rang);
    color: var(--matn);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bbb:hover{
    border: 2px solid var(--2rang);
    background-color: var(--1rang);
    color: var(--matn);
    transform: scale(1.3);
}